doctype html
head
  meta(charset='utf-8')
  title Frek.Com
  meta(content='width=device-width, initial-scale=1.0', name='viewport')
  meta(content='', name='keywords')
  meta(content='', name='description')
  // Favicons
  //base(href='/')
  link(href='img/frek.png', rel='icon')
  link(href='img/frek.png', rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700', rel='stylesheet')
  // Bootstrap CSS File
  link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
  // Libraries CSS Files
  link(rel='stylesheet',href='lib/font-awesome/css/font-awesome.min.css')
  link(href='/lib/animate/animate.min.css', rel='stylesheet',type="text/css")
  link(href='/lib/ionicons/css/ionicons.min.css')
  link(href='/lib/owlcarousel/assets/owl.carousel.min.css', rel='stylesheet')
  link(type="text/css",href='lib/lightbox/css/lightbox.min.css', rel='stylesheet')
  // Main Stylesheet File
  link(type="text/css",href='css/style.css', rel='stylesheet')
  //
    =======================================================
    Theme Name: Frek.in
    Theme URL: https://bootstrapmade.com/Frek.in-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
    =======================================================
//
  ==========================
  Header
  ============================
header#header
  .container-fluid
    #logo.pull-left
      h1
        a.scrollto(href='#intro') Frek.in
      // Uncomment below if you prefer to use an image logo
      // <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>
    nav#nav-menu-container
      ul.nav-menu
        li.menu-active
          a(href='#intro') Home
        li
          a(href='#about') About Us
        li
          a(href='#services') Services
        li
          a(href='#portfolio') Portfolio
        li
          a(href='#team') Team
        li.menu-has-children
          a(href='') Drop Down
          ul
            li
              a(href='#') Drop Down 1
            li
              a(href='#') Drop Down 3
            li
              a(href='#') Drop Down 4
            li
              a(href='#') Drop Down 5
        li
          a(href='#contact') Contact
    // #nav-menu-container
// #header
//
  ==========================
  Intro Section
  ============================
section#intro
  .intro-container
    #introCarousel.carousel.slide.carousel-fade(data-ride='carousel')
      ol.carousel-indicators
      .carousel-inner(role='listbox')
        .carousel-item.active
          .carousel-background
            img(src='img/intro-carousel/2.jpg', alt='')
          .carousel-container
            .carousel-content
              h2 We are professional
              p 
                | We Can Perform Development Of Mobile App and Website Design Within a Weeks |.All Our Team Highly Concious about what product preffered for your Demand.
              a.btn-get-started.scrollto(href='#featured-services') Get Started
        .carousel-item
          .carousel-background
            img(src='img/intro-carousel/2.jpg', alt='')
          .carousel-container
            .carousel-content
              h2 But, in truth and accuse them
              p
                | For your free time, and they are independent to us the most important is that which is well pleasing in his option of choosing when they are enabled to do nothing to stop it were not so, every pleasure is to be welcomed and every pain avoided. But in certain circumstances, and or good offices of, or avoids pleasure.
              a.btn-get-started.scrollto(href='#featured-services') Get Started
      a.carousel-control-prev(href='#introCarousel', role='button', data-slide='prev')
        span.carousel-control-prev-icon.ion-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#introCarousel', role='button', data-slide='next')
        span.carousel-control-next-icon.ion-chevron-right(aria-hidden='true')
        span.sr-only Next
// #intro
main#main
  //
    ==========================
    Featured Services Section
    ============================
  // #featured-services
  //
    ==========================
    About Us Section
    ============================
  section#about
    .container
      header.section-header
        h3 About Us
        p
          | We Highly Optimize passion into ideas turn into Core Ui Specially for Mobile Application Development
      .row.about-cols
        .col-md-4.wow.fadeInUp
          .about-col
            .img
              img.img-fluid(src='img/about-mission.jpg', alt='')
              .icon
                i.ion-ios-speedometer-outline
            h2.title
              a(href='#') Our Mission
            p
              | We Belive in Customer Ideas and try to deliver What they Need... 
        .col-md-4.wow.fadeInUp(data-wow-delay='0.1s')
          .about-col
            .img
              img.img-fluid(src='img/about-plan.jpg', alt='')
              .icon
                i.ion-ios-list-outline
            h2.title
              a(href='#') Our Plan
            p
              | Your Plan and Our Skills Should connect to turn thing better...
        .col-md-4.wow.fadeInUp(data-wow-delay='0.2s')
          .about-col
            .img
              img.img-fluid(src='img/about-vision.jpg', alt='')
              .icon
                i.ion-ios-eye-outline
            h2.title
              a(href='#') Our Vision
            p
              | To tackle new Technology into works for genration...
  // #about
  //
    ==========================
    Services Section
    ============================
  section#services
    .container
      header.section-header.wow.fadeInUp
        h3 Services
        p
          | 
      .row
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
          .icon
            i.ion-ios-analytics-outline
          h4.title
            a(href='') Android App Development
          p.description
            | Android app with mvvm technology
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
          .icon
            i.ion-ios-bookmarks-outline
          h4.title
            a(href='') Website Development
          p.description
            | Custom Website both on hosted service or custom hosting
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-duration='1.4s')
          .icon
            i.ion-ios-paper-outline
          h4.title
            a(href='') React App
          p.description
            | Web App on new Genration on Tech
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
          .icon
            i.ion-ios-speedometer-outline
          h4.title
            a(href='') React Native 
          p.description
            | React Native app both for ios and android on demand
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
          .icon
            i.ion-ios-barcode-outline
          h4.title
            a(href='') Server Developement
          p.description
            | Complete Backend Server Development with Hosting and Service
        .col-lg-4.col-md-6.box.wow.bounceInUp(data-wow-delay='0.1s', data-wow-duration='1.4s')
          .icon
            i.ion-ios-people-outline
          h4.title
            a(href='') Service For Long Runnig Customer
          p.description
            | We Provide Managing Services For Your Projecct on dynaminc low rate 
  // #services
  //
    ==========================
    Call To Action Section
    ============================
  section#call-to-action.wow.fadeIn
    .container.text-center
      h3 Call To Action
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a.cta-btn(href='#') Call To Action
  // #call-to-action
  //
    ==========================
    Skills Section
    ============================
  section#skills
    .container
      header.section-header
        h3 Our Skills
        p
          | Our Engineer Expert In Platform With Such Languages Uses Case 
      .skills-content
        .progress
          .progress-bar.bg-success(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | HTML 
              i.val 100%
        .progress
          .progress-bar.bg-info(role='progressbar', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | CSS 
              i.val 90%
        .progress
          .progress-bar.bg-info(role='progressbar', aria-valuenow='92', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | Kotlin 
              i.val 92%
        .progress
          .progress-bar.bg-info(role='progressbar', aria-valuenow='72', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | Java
              i.val 72%
        .progress
          .progress-bar.bg-info(role='progressbar', aria-valuenow='82', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | NodeJs 
              i.val 82%
        .progress
          .progress-bar.bg-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | MongoDB 
              i.val 60%
        .progress
          .progress-bar.bg-warning(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | JavaScript 
              i.val 75%
        .progress
          .progress-bar.bg-danger(role='progressbar', aria-valuenow='55', aria-valuemin='0', aria-valuemax='100')
            span.skill
              | Photoshop 
              i.val 55%
  //
    ==========================
    Facts Section
    ============================
  section#facts.wow.fadeIn
    .container
      header.section-header
        h3 Facts
        p
          | World Ends You Stop Thinking and When Desire live begain to grow
      .row.counters
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 27
          p Clients
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 100
          p Projects
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 520
          p Hours Of Support
        .col-lg-3.col-6.text-center
          span(data-toggle='counter-up') 7
          p Hard Workers
      .facts-img
        img.img-fluid(src='img/intro-carousel/backshot.png', alt='')
  // #facts
  //
    ==========================
    Portfolio Section
    ============================
  section#portfolio.section-bg
    .container
      header.section-header
        h3.section-title Our Portfolio
      .row
        .col-lg-12
          ul#portfolio-flters
            li.filter-active(data-filter='*') All
            li(data-filter='.filter-app') App
            li(data-filter='.filter-card') Card
            li(data-filter='.filter-web') Web
      .row.portfolio-container
        .col-lg-4.col-md-6.portfolio-item.filter-app.wow.fadeInUp
          .portfolio-wrap
            figure
              img.img-fluid(src='img/portfolio/app1.jpg', alt='')
              a.link-preview(href='img/portfolio/app1.jpg', data-lightbox='portfolio', data-title='App 1', title='Preview')
                i.ion.ion-eye
              a.link-details(href='#', title='More Details')
                i.ion.ion-android-open
            .portfolio-info
              h4
                a(href='#') GharOnRent
              p App
        .col-lg-4.col-md-6.portfolio-item.filter-web.wow.fadeInUp(data-wow-delay='0.1s')
          .portfolio-wrap
            figure
              img.img-fluid(src='img/portfolio/web3.jpg', alt='')
              a.link-preview(href='img/portfolio/web3.jpg', data-lightbox='portfolio', data-title='Web 3', title='Preview')
                i.ion.ion-eye
              a.link-details(href='#', title='More Details')
                i.ion.ion-android-open
            .portfolio-info
              h4
                a(href='#') Frek
              p Web
      
  // #portfolio
  //
    ==========================
    Clients Section
    ============================
  section#clients.wow.fadeInUp
    .container
      header.section-header
        h3 Our Clients
      .owl-carousel.clients-carousel
        img(src='img/clients/client-1.png', alt='')
        img(src='img/clients/client-2.png', alt='')
        img(src='img/clients/client-3.png', alt='')
        img(src='img/clients/client-4.png', alt='')
        img(src='img/clients/client-5.png', alt='')
        img(src='img/clients/client-6.png', alt='')
        img(src='img/clients/client-7.png', alt='')
        img(src='img/clients/client-8.png', alt='')
  // #clients
  //
    ==========================
    Clients Section
    ============================
  section#testimonials.section-bg.wow.fadeInUp
    .container
      header.section-header
        h3 Testimonials
      .owl-carousel.testimonials-carousel
        .testimonial-item
          img.testimonial-img(src='img/nitish1.jpeg', alt='')
          h3 Nitish Kumar
          h4 Ceo &amp; Founder
          p
            img.quote-sign-left(src='img/quote-sign-left.png', alt='')
            |               Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
            img.quote-sign-right(src='img/quote-sign-right.png', alt='')
        .testimonial-item
          img.testimonial-img(src='img/karan1.jpeg', alt='')
          h3 Karan Kumar
          h4 Designer
          p
            img.quote-sign-left(src='img/quote-sign-left.png', alt='')
            |               Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            img.quote-sign-right(src='img/quote-sign-right.png', alt='')
        .testimonial-item
          img.testimonial-img(src='img/puja.jpeg', alt='')
          h3 Priya Sharma
          h4 Designer
          p
            img.quote-sign-left(src='img/quote-sign-left.png', alt='')
            |               Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            img.quote-sign-right(src='img/quote-sign-right.png', alt='')
            
  // #testimonials
  //
    ==========================
    Team Section
    ============================
  section#team
    .container
      .section-header.wow.fadeInUp
        h3 Team
        p
          | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
      .row
        .col-lg-3.col-md-6.wow.fadeInUp
          .member
            img.img-fluid(src='img/nitish1.jpeg', alt=''  width='500%' height='100%')
            .member-info
              .member-info-content
                h4 Nitish Kumar
                span Chief Executive Officer
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.1s')
          .member
            img.img-fluid(src='img/karan1.jpeg', alt=''  width='65%' height='0%')
            .member-info
              .member-info-content
                h4 Karan Kumar
                span Designer
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-facebook
                  a(href='')
                    i.fa.fa-linkedin
        .col-lg-3.col-md-6.wow.fadeInUp(data-wow-delay='0.2s')
          .member
            img.img-fluid(src='img/puja.jpeg', alt=''  width='80%' height='600')
            .member-info
              .member-info-content
                h4 Priya Sharma
                span CTO
                .social
                  a(href='')
                    i.fa.fa-twitter
                  a(href='')
                    i.fa.fa-linkedin
  // #team
  //
    ==========================
    Contact Section
    ============================
  section#contact.section-bg.wow.fadeInUp
    .container
      .section-header
        h3 Contact Us
        p
          | For Further Query Please Drop Your concern or Contact Us.
      .row.contact-info
        .col-md-4
          .contact-address
            i.ion-ios-location-outline
            h3 Address
            address C/O Nitish Kumar Suresh Prasd ,Boring Road Patna-800023 ,India
      
        .col-md-4
          .contact-phone
            i.ion-ios-telephone-outline
            h3 Phone Number
            p
              a(href='tel:+919102355792') +919102355792
        .col-md-4
          .contact-email
            i.ion-ios-email-outline
            h3 Email
            p
              a(href='mailto:contactwithnitish@gmail.com') contactwithnitish@gmail.com
      .form
        #sendmessage Your message has been sent. Thank you!
        #errormessage
        form.contactForm(action='', method='post', role='form')
          .form-row
            .form-group.col-md-6
              input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4',data-max='maxlen:40', data-msg='Please enter at least 4 chars')
              .validation
            .form-group.col-md-6
              input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
              .validation
          .form-group
            input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4',data-max='maxlen:40', data-msg='Please enter at least 8 chars of subject')
            .validation
          .form-group
            input#phone.form-control(type='text', name='phone', placeholder='Phone Number', data-rule='minlen:10',data-max='maxlen:13', data-msg='Phone Number with country code')
            .validation
          .text-center
            button(type='submit') Send Message
  // #contact
//
  ==========================
  Footer
  ============================
footer#footer
  .footer-top
    .container
      .row
        .col-lg-3.col-md-6.footer-info
          h3 Frek.in
          p
            | Imagination into Reality Comes When Mahadev Prabhua Naryan Prabhu Support Us.Your Idea Our Passsion to Excute
        .col-lg-3.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              i.ion-ios-arrow-right
              a(href='#') Home
            li
              i.ion-ios-arrow-right
              a(href='#') About us
            li
              i.ion-ios-arrow-right
              a(href='#') Services
            li
              i.ion-ios-arrow-right
              a(href='#') Terms of service
            li
              i.ion-ios-arrow-right
              a(href='#') Privacy policy
        .col-lg-3.col-md-6.footer-contact
          h4 Contact Us
          p
            | Nitish Kumar
            br
            |               Boring Road,Patna-800023
            br
            |              India
            br
            strong Phone:
            |  +919102355792
            br
            strong Email:
            |  contactwithnitish@gmail.com
            br
          .social-links
            a.twitter(href='#')
              i.fa.fa-twitter
            a.facebook(href='#')
              i.fa.fa-facebook
            a.instagram(href='#')
              i.fa.fa-instagram
            a.google-plus(href='#')
              i.fa.fa-google-plus
            a.linkedin(href='#')
              i.fa.fa-linkedin
      
  .container
    .copyright
      | &copy; Copyright 
      strong Frek.in
      | . All Rights Reserved
    .credits
      //
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Frek.in
       
// #footer
a.back-to-top(href='#')
  i.fa.fa-chevron-up
// Uncomment below i you want to use a preloader
// <div id="preloader"></div>
// JavaScript Libraries
script(src='lib/jquery/jquery.min.js')
script(src='lib/jquery/jquery-migrate.min.js')
script(src='lib/bootstrap/js/bootstrap.bundle.min.js')
script(src='lib/easing/easing.min.js')
script(src='lib/superfish/hoverIntent.js')
script(src='lib/superfish/superfish.min.js')
script(src='lib/wow/wow.min.js')
script(src='lib/waypoints/waypoints.min.js')
script(src='lib/counterup/counterup.min.js')
script(src='lib/owlcarousel/owl.carousel.min.js')
script(src='lib/isotope/isotope.pkgd.min.js')
script(src='lib/lightbox/js/lightbox.min.js')
script(src='lib/touchSwipe/jquery.touchSwipe.min.js')
// Contact Form JavaScript File
script(src='contactform/contactform.js')
// Template Main Javascript File
script(src='js/main.js')
